<!doctype html>

<html>
    <head>
        <title>{{title}}</title>
        
    </head>
<body>

        <div>
                <a href='/home'>home</a>
            </div>
            
            <div>
                <a href='/login'>login</a>
            </div>

            <div>
                <a href='/new-client'>new client</a>
            </div>

            <div>
                <a href='/logout'>logout</a>
            </div>

        {% block content %}
        {% endblock %}

</body>
</html>