<!doctype html>

<html>
    
    {% block styles %}
   
    {% endblock %}

    <head>
        <title>{{title}}</title>
    </head>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
        <body>
            {% block navbar %}
            <div class="navbar navbar-fixed-top">
                <a href='/home'>Home</a>
            </div>
            <div class="navbar navbar-fixed-top">
                <a href='/login'>Login</a>
            </div>   
            <div class="navbar navbar-fixed-top">
                <a href='/logout'>Logout</a>
            </div> 
            {% endblock %}


        {% block content %}
        {% endblock %}

        </body>

</html>