{% extends 'base.html' %}

    {% block content %}

    <h1>{{behavior.description}}</h1>

    <hr>

    <div>
        <a href='/new-aba-session?id={{behavior.id}}'><h2>New ABA Session</h2></a>
    </div>

    <hr>

    {% if trackers|length == 0 %}
        <p>No ABA Sessions yet</p>
    {% else %}


        {% for tracker in trackers %}
            <h2>
                <form>
                <a href='./tracker?id={{tracker.id}}'>{{tracker.datetime}}</a>
                <input type="hidden" name="tracker-id" value="{{tracker.id}}" />
                </form>
            </h2>
        
        {% endfor %}

    {% endif %}

    <hr>

    <canvas id="myChart" class="my-4 w-100 chartjs-render-monitor" width="1846" height="778" style="display: block; height: 389px; width: 923ps;"></canvas>
    <!--
    <div>
        <a href='/new-tracker?id={{behavior.id}}'><h2>New ABA Session</h2></a>
    </div>

    <h2>{{behavior.description}}</h2>
    <form action="increment-behavior?id={{behavior.id}}" method="POST">
    <button type="submit" value="occurrences" name="occurrences" onclick="">+</button>
    </form>
    <hr>

    <h2>Number of times {{behavior.description}} has occurred:</h2>

    <h2>{{behavior.occurrences}}</h2>
    -->
    {% endblock %}