{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>{{title}}</h1>
</div>
    <hr />

    {% if clients|length == 0 %}

    <p>No clients yet</p>
    {% else %}


        {% for client in clients %}
        <div class="container">
            <h2>
                <form>
                <a href='./client?id={{client.id}}'>{{client.name}}</a>
                <input type="hidden" name="client-id" value="{{client.id}}" />
                </form>
            </h2>
        </div>
        
        <div class="container">
            <p>{{client.body}}</p>
    </div>
            
            <p><em>written by </em> <a href='./client?user={{client.owner.username}}'>{{client.owner.username}}</a></p>
            
        {% endfor %}

    {% endif %}

    <hr />

{% endblock %}