{% extends 'base.html' %}

    {% block content %}
    <div class="container">
        <h1>
            
            {{client.name}}
            
        </h1>

        <hr>

        
            <a href='/new-behavior?id={{client.id}}'><h2>New Behavior</h2></a>
        
    
        <hr>    
        
    {% if behaviors|length == 0 %}
        <p>No behaviors yet</p>
    {% else %}
    

        {% for behavior in behaviors %}
        
            <h2>
                <form>
                <a href='./behavior?id={{behavior.id}}'>{{behavior.description}}</a>
                <input type="hidden" name="behavior-id" value="{{behavior.id}}" />
                </form>
            </h2>
        
        {% endfor %}

    {% endif %}
</div>
    {% endblock %}