{% extends 'base.html' %}

{% block content %}

<!DOCTYPE html>



<html lang="en">
    <head>

    </head>

    <body>
        
    <h1>Baseline</h1>
    <hr>
        <h2>Applied Behavioral Analysis is the use of basic behavior principles to analyzed and solve practical problems.</h2>
        <h2>Baseline: The base rate of behavior, before intervention, against which the efficacy of experimental manipulations is compared.</h2>
    <hr>


    <div>
        <a href='/myclients?user={{user.username}}'><h2>My Clients</h2></a>
    </div>

    <hr>

    </body>
</html>
{% endblock %}