{% extends "base.html" %}

{% block content %}
<h1>Signup</h1>
<form action="/signup" method="post">
    <table>
        <tr>
            <td><label for="username">Username</label></td>
            <td>
                <input name="username" type="text" value="{{ username }}">
                <span>{{username_error}}</span>
            </td>
        </tr>
        <tr>
            <td><label for="password">Password</label></td>
            <td>
                <input name="password" type="password">
                <span>{{password_error}}</span>
            </td>
        </tr>
        <tr>
            <td><label for="verify">Verify Password</label></td>
            <td>
                <input name="verify" type="password">
                <span>{{verify_error}}</span>
            </td>
        </tr>
    </table>
    <input type="submit" value="Submit">

</form>
{% endblock %}