{% extends 'base.html' %}

    {% block content %}
    <div class="container">
    <h1>{{title}}</h1>

    {% if trackers|length == 0 %}
        <p>No ABA Sessions yet</p>
    {% else %}


        {% for tracker in trackers %}
            <h2>
                <form>
                <a href='./tracker?id={{tracker.id}}'>{{tracker.occurrences}}</a>
                <input type="hidden" name="tracker-id" value="{{tracker.id}}" />
                </form>
            </h2>
        
        {% endfor %}

    {% endif %}
</div>




    {% endblock %}